/*Image*/
.image {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: left;
    margin-top: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: #555;
}

/*Titre*/
.lead {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.lead hr {
  max-width: 800px;
  margin-top: -10px;
  margin-bottom: 40px;
}

/*Description*/
.desc-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
}

.description {
  margin: 53px 64px 134px 64px;
  justify-content: center;
  text-align: center;
}

.description h4 {
  color: var(--color-primary);
}

.description h5 {
  margin-bottom: 10px;
}

.desc-col {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.desc-button {
  color: black;
  background-color: #FFF5F7;
  border-color: var(--color-primary);
  border-width: 3px;
  border-style: solid;
  padding: 22px 17.5px;
  margin-top: auto; 
  align-self: flex-start; 
}

/*Gallerie*/
.gallerie{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom: 20px;
}