.image {
  max-width: 100%;
  margin: 40px auto;
}

.image img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.caption {
    text-align: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}