.image {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: left;
    margin-top: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: #555;
}

.lead {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.lead hr{
  max-width: 800px;
  margin-top: -10px;
  margin-bottom: 40px;
}
