footer {
    background-color: var(--color-footer);
    color: white;
    padding: 64px 80px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-col a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
}

.footer-col p, 
.footer-col h3 {
    margin: 0 0 20px 0;
}

.footer-col address {
    font-style: normal;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 0 20px 0;
}

.footer-gauche{
    flex-grow: 1;
}

.footer-autre {
    flex-grow: 0.4;
}

footer a:hover,
footer img:hover {
    opacity: 0.5;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

footer h4 {
    color: white;
}

@media (max-width: 768px) {
    footer {
        padding: 40px 20px;
    }

    .row {
        flex-direction: column;
        gap: 0;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col hr {
        display: block;
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        margin: 20px 0;
    }

    .footer-col ul li {
        margin-bottom: 20px;
    }

    .social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .social-media p {
        margin: 0;
    }
}