/* Header style */
header {
    display: flex;
    gap : 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    
}

.logo {
    width: 283px;
    display:block;
    flex-shrink: 0;
}

/* img dans lien logo */

.logo img {
    width:100%;
}

header nav {
    flex-grow: 1;
    align-content: center;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 90px;
    justify-content: right;
}

header nav ul li a {

  text-decoration: none; 
  color: inherit;        

}