/* Header style */
header {
    margin-top: 0;
    display: flex;
    padding : 60px;
    gap : 30px;
    
}

.logo {
    width: 283px;
    display:block;
    flex-shrink: 0;
}

/* img dans lien logo */

.logo img {
    width:100%;
}

header nav {
    flex-grow: 1;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 90px;
    padding-top: 45px;
    padding-bottom: 15px;
    justify-content: right;
}

header nav ul li a {

  text-decoration: none; 
  color: inherit;        
}