.hero img {
    width: 100%;
    height: auto;
}

h2 {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    display: inline;
}

.lead-index {
    width: 100%;
    text-align: center;
    margin-top: 65px;
}