/* Hero */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero img {
    width: 100%;
    height: auto;
}

.h3-index {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    display: block;
}

.lead-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.body-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.ouvert {
    color: #0C7400;
}

.Pos-herodesk-button {
  color: black;
  background-color: #FFF5F7;
  border-color: var(--color-primary);
  border-width: 3px;
  border-style: solid;
  padding: 22px 17.5px;
  margin-top: 25px;
  text-decoration: none;    
  text-align: center;
}

/* Section Autres articles */

.end-article {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 50px;
    margin: 90px 60px 40px 40px;
}

.end-article article {
    width: 350px;;
}


.end-article article img {
    width: 100%;
    height: auto;
}

.end-article article a {
    display: block;
    max-width: fit-content;
    text-decoration: none;
}

.spaceh4{
    margin-top: 10px;
}

.expo-tempo h3{
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
    text-align: center;
}

.button-tempo-pos{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flecheL {
    display: flex;
    align-items: center;
}

.flecheR {
    display: flex;
    align-items: center;
}

.expo-tempo article{
    display:flex;

}

.expo-img-caption {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}

.expo-img-caption p {
    display: flex;
    text-align: left;
    margin : 0px;
}