/* Hero */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.h3-index {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    display: block;
}

.lead-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.body-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.ouvert {
    color: #0C7400;
}

.Pos-herodesk-button {
    color: black;
    background-color: #FFF5F7;
    border-color: var(--color-primary);
    border-width: 3px;
    border-style: solid;
    padding: 22px 17.5px;
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
}


/*En ce moment*/
.expo-tempo h3{
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
    text-align: center;
}

.button-tempo-pos{
    display: block;
    justify-content: center;
}

.event-desc-button {
    color: black;
    background-color: #FFF5F7;
    border-color: var(--color-primary);
    border-width: 3px;
    border-style: solid;
    padding: 22px 17.5px;
    margin-top: auto;
    align-self: flex-start;
    cursor: pointer;
}

/* aligmement du moment container */
.moment-container {
    position: relative;
    margin-top: 100px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

.moment-container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 75px 75px 75px 75px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    /* Place le cadre en dessous du titre */
    width: 996px;
    max-height: 540px;
}

.event-content .body {
    color: #000000 !important;
    /* Force le texte en noir */
    visibility: visible !important;
    opacity: 1 !important;
}

article.moment-container .moment-title {
    position: absolute;
    top: -20px;
    /* Ajustez selon votre besoin pour le chevauchement */
    left: -2.7px;
    background-color: #800020;
    color: #ffffff !important;
    /* Force le titre en blanc */
    padding: 10px 30px;
    z-index: 10;
    /* Assure que l'étiquette est au-dessus du cadre */
    margin: 0;
}

.event-content p {
    margin: 0;
}


img.récit-denfance {
    width: 377px ;
    height: 186px;
}
.image-container {
    display: flex;
    justify-content: left;
}

.column1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.column2 a {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.all-column {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.button-expositions a {
    text-decoration: none;
}

.button-expositions {
    display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

.container-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.image-agenda {
    width: 949px ;
    height: 302px;
}




/* Eposition temporaire */

.expo-tempo h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    text-align: center;
}

.button-tempo-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Eposition temporaire collection */

.expo-tempo article {
    display: flex;
    margin: 0 100px;
    margin-top: 85px;

}

.flecheL {
    display: flex;
    align-items: center;
    padding-right: 175px;
}

.flecheR {
    display: flex;
    align-items: center;
    padding-left: 175px;
}


.expo-img-caption {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 50px;
}

.expo-img-caption p {
    display: flex;
    text-align: left;
    margin: 0px;
}

.expo-tempo-button {
    display:flex;
}

.space-expo-tempo {
    margin-top: 30px;
}

.expo-tempo-titre_text {
    align-items: flex-start;
}

/* EXPO PERMANENT */

.perm-titre {
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.first-part-perm {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.gauche-perm {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.centre-perm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px;
}

.perm-texte {
    display: flex;
    text-align: center;
    margin-bottom: 130px;
}

.perm-texte a {
    display: flex;
    max-width:fit-content;
    align-content:flex-start;

}

.droite-perm {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.second-part-perm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.expo-perm article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
    text-align: center;
    margin-bottom: 42px;
}

/* Section Autres articles */

.end-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 90px 40px 40px 40px;
}

.end-article article {
    width: 350px;
    ;
}


.end-article article img {
    width: 100%;
    height: auto;
}

.end-article article a {
    display: block;
    max-width: fit-content;
    text-decoration: none;
}

.spaceh4 {
    margin-top: 10px;
}
@media (max-width: 768px) {
    .end-article {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
    }
    .end-article {
        width: 100%;
        display: flex;
    }
}
