/* Hero */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.h3-index {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    display: block;
}

.lead-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.body-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.ouvert {
    color: #0C7400;
}

.Pos-herodesk-button {
    color: black;
    background-color: #FFF5F7;
    border-color: var(--color-primary);
    border-width: 3px;
    border-style: solid;
    padding: 22px 17.5px;
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
}


/*En ce moment*/
.expo-tempo h3{
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
    text-align: center;
}

.button-tempo-pos{
    display: block;
    justify-content: center;
}

.event-desc-button {
    color: black;
    background-color: #FFF5F7;
    border-color: var(--color-primary);
    border-width: 3px;
    border-style: solid;
    padding: 22px 17.5px;
    margin-top: auto;
    align-self: flex-start;
    cursor: pointer;
}

.moment-container {
    position: relative;
    margin-top: 100px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

.moment-container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 75px 75px 75px 75px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    width: 996px;
    max-height: 540px;
}

.event-content .body {
    color: #000000 !important;
    visibility: visible !important;
    opacity: 1 !important;
}

article.moment-container .moment-title {
    position: absolute;
    top: -20px;
    left: -2.7px;
    background-color: #800020;
    color: #ffffff !important;
    padding: 10px 30px;
    z-index: 10;
    margin: 0;
}

.event-content p {
    margin: 0;
}


img.récit-denfance {
    width: 377px ;
    height: 186px;
}
.image-container {
    display: flex;
    justify-content: left;
}

.column1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.column2 a {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.all-column {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.button-expositions a {
    text-decoration: none;
}

.button-expositions {
    display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}

.container-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.image-agenda {
    width: 949px ;
    height: 302px;
}

/* Responsive evenements */

@media screen and (max-width: 768px) {
    .moment-container {
        width: 90%;
        max-height: none;
        padding: 40px 20px 20px 20px;
        margin-top: 50px;
    }

    .all-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .column1, .column2 {
        margin-left: 0;
    }

    img.récit-denfance {
        width: 100%;
        height: auto;
        order: 2;
    }

    .column1 h6 {
        order: 3;
        font-size: 14px;
        margin-top: 10px;
    }

    .column2 h4 {
        order: 1;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .column2 .body {
        order: 4;
    }

    .moment-title {
        font-size: 1.2rem;
        padding: 8px 20px;
    }

    .event-desc-button {
        padding: 15px 25px;
        width: 100%;
        text-align: center;
    }

    .image-agenda {
        width: 100%;
        height: auto;
    }
}

/* Eposition temporaire */

.expo-tempo h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    text-align: center;
}

.button-tempo-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Eposition temporaire collection */

.expo-tempo article {
    display: flex;
    margin: 0 100px;
    margin-top: 85px;

}

.flecheL {
    display: flex;
    align-items: center;
    padding-right: 175px;
}

.flecheR {
    display: flex;
    align-items: center;
    padding-left: 175px;
}


.expo-img-caption {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 50px;
}

.expo-img-caption p {
    display: flex;
    text-align: left;
    margin: 0px;
}

.expo-tempo-button {
    display:flex;
}

.space-expo-tempo {
    margin-top: 30px;
}

.expo-tempo-titre_text {
    align-items: flex-start;
}



/* EXPO PERMANENT */

.perm-titre {
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.first-part-perm {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.gauche-perm {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.centre-perm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px;
}

.perm-texte {
    display: flex;
    text-align: center;
    margin-bottom: 130px;
}

.perm-texte a {
    display: flex;
    max-width:fit-content;
    align-content:flex-start;

}

.droite-perm {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.second-part-perm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.expo-perm article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
    text-align: center;
    margin-bottom: 42px;
}

@media screen and (max-width: 768px) {
    .expo-perm {
        padding: 0 20px;
    }

    .perm-titre {
        justify-content: flex-start;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .perm-titre h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin: 0;
    }

    .first-part-perm {
        flex-direction: column;
    }

    .centre-perm {
        order: -1;
        margin: 0 0 40px 0;
        align-items: center;
    }

    .perm-texte {
        text-align: left;
        margin-bottom: 30px;
    }

    .Pos-herodesk-button {
        display: block;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        border: 2px solid #800020;
        padding: 15px 20px;
    }

    .gauche-perm, 
    .droite-perm, 
    .second-part-perm {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .expo-perm article {
        width: 100%;
        text-align: left;
        margin-bottom: 35px;
    }

    .expo-perm article img {
        width: 100%;
        height: auto;
        margin-bottom: 8px;
    }

    .expo-perm article h4 {
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0;
    }
}

/* Section Autres articles */

.end-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 90px 40px 60px 40px;
}

.end-article article {
    width: 350px;
}


.end-article article img {
    width: 100%;
    height: auto;
}

.end-article article a {
    display: block;
    max-width: fit-content;
    text-decoration: none;
}

.spaceh4 {
    margin-top: 10px;
}
@media (max-width: 768px) {
    .end-article {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
    }
    .end-article {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 768px) {
    .expo-tempo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        font-family: sans-serif;
    }

    .expo-tempo h3 {
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    .button-tempo-pos {
        margin-bottom: 40px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        border: 2px solid #800020;
        background-color: #fff0f5;
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }
    .tempo {
        position: relative;
        width: 100%;
        max-width: 400px;
    }

    .expo-tempo-titre_text h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .expo-img-caption {
        position: relative;
        width: 100%;
    }

    .expo-img-caption img {
        width: 100%;
        display: block;
    }

    .expo-tempo-button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .caption {
        text-align: left;
        font-size: 0.9rem;
        margin-top: 15px;
        color: #333;
        line-height: 1.4;
    }

    .flecheL, .flecheR {
        position: absolute;
        top: 40%;
        z-index: 10;
        background: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .flecheL {
        left: -10px;
    }

    .flecheR {
        right: -10px;
    }

    .flecheL img, .flecheR img {
        width: 25px;
        height: auto;
    }

    .body.space-expo-tempo {
        display: none; 
    }
}

@media screen and (max-width: 768px) {
    .end-article {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;
        gap: 40px;
    }

    .end-article article {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .end-article article img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .end-article article .spaceh4 h4 {
        font-size: 1.8rem;
        font-weight: normal;
        margin: 15px 0 10px 0;
        text-transform: none;
    }

    .end-article article .body {
        font-size: 1.1rem;
        line-height: 1.5;
        margin: 0;
        padding-right: 20px;
        color: #000;
    }

    .end-article article a.button {
        display: none;
    }

    .end-article article h4::first-letter {
        text-transform: uppercase;
    }
}