/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero img {
    width: 100%;
    height: auto;
}

.h3-index {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    display: block;
}

.lead-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.body-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.ouvert {
    color: #0C7400;
}

.Pos-herodesk-button {
  color: black;
  background-color: #FFF5F7;
  border-color: var(--color-primary);
  border-width: 3px;
  border-style: solid;
  padding: 22px 17.5px;
  margin-top: 25px;
  text-decoration: none;
}

/* Section Autres articles */

.end-article {
    display: flex;
}

.end-article article img {
    max-width: auto;
    height: 350px;
}