/* Hero */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.h3-index {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    display: block;
}

.lead-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.body-index {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.ouvert {
    color: #0C7400;
}

.Pos-herodesk-button {
    color: black;
    background-color: #FFF5F7;
    border-color: var(--color-primary);
    border-width: 3px;
    border-style: solid;
    padding: 22px 17.5px;
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
}

/* Section Autres articles */

.end-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 90px 40px 40px 40px;
}

.end-article article {
    width: 350px;
    ;
}


.end-article article img {
    width: 100%;
    height: auto;
}

.end-article article a {
    display: block;
    max-width: fit-content;
    text-decoration: none;
}

.spaceh4 {
    margin-top: 10px;
}
@media (max-width: 768px) {
    .end-article {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
    }
    .end-article {
        width: 100%;
        display: flex;
    }
}



/* Eposition temporaire */

.expo-tempo h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    text-align: center;
}

.button-tempo-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Eposition temporaire collection */

.expo-tempo article {
    display: flex;
    margin: 0 100px;
    margin-top: 85px;

}

.flecheL {
    display: flex;
    align-items: center;
    padding-right: 175px;
}

.flecheR {
    display: flex;
    align-items: center;
    padding-left: 175px;
}


.expo-img-caption {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 50px;
}

.expo-img-caption p {
    display: flex;
    text-align: left;
    margin: 0px;
}

.expo-tempo-button {
    display:flex;
}

.space-expo-tempo {
    margin-top: 30px;
}

.expo-tempo-titre_text {
    align-items: flex-start;
}

/* EXPO PERMANENT */

.perm-titre {
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

.first-part-perm {
    display: flex;
    flex-direction: row;
}

.gauche-perm {
    display: flex;
    flex-direction: column;
}

.centre-perm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.perm-texte {
    display: flex;
    text-align: center;
}

.perm-texte a {
    display: flex;
    max-width:fit-content;
    align-content:flex-start;
}

.droite-perm {
    display: flex;
    flex-direction: column;
}
.second-part-perm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expo-perm article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
}