* {
    box-sizing: border-box;
}

.stretched-link {
    position: relative;
}

.stretched-link a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}