/* Textes */
h1 {
    font-size: 80px;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 90px;
}

h2 {
    font-size: 64px;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 115%;
}

h3 {
    font-size: 40px;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 120%;
}

h4 {
    font-size: 24px;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 130%;
}

h5 {
    font-size: 24px;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 180%;
}

.button {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 100%;
}

.caption {
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
}

footer {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 125,
        "GRAD" 0;
    line-height: 35px;
}